irislicense/*.key
**/*.gz
res.json
ps.json
inventory.json
.vscode
defaults-dont-upload/
icmcl-atelier-prj/User/
Backup/
src
actual-*
tmp-*
secret/azure-secret.json
secret/docker-secret.json
app/*
test.inventory
